html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    /* width: 90%; */
    /* margin: auto; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#content {
    width: 90%;
    margin: auto;
}

nav {
    height: 72px;
    display: flex;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    background-color: white;
    /* color: rgb(112, 255, 255); */
}

nav > div {
    margin: auto;
    width: 80%;
    align-items: center;
    display: flex;
}

nav p {
    font-size: 24pt;
    margin: 0;
    /* text-decoration: none; */
}

nav a {
    margin-right: 32px;
    text-decoration: none;
    color: black;
}

nav button {
    width: 128px;
    height: 40px;
    background-color: rgb(36, 180, 224);
    border: none;
    border-radius: 4px;
    font-size: 12pt;
    color: white;
}

nav button:hover {
    background-color: rgb(44, 188, 232);
    cursor: pointer;
}

nav select {
    border: none;
    margin-right: 16px;
    background-color: white;
    font-size: 12pt;
}

.filler {
    flex-grow: 1;
}

#home {
    background: linear-gradient(rgba(255, 255, 2555, .9), rgba(255, 255, 2555, .9)), url(images/hero-bg.jpg);
    /* overflow: hidden; */
    padding: 0;
}

section {
    min-height: 100vh;
    padding-top: 72px;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    text-align: center;
    flex-direction: column;
}

#title h1, p {
    margin: 0;
}

#title h1 {
    font-size: 56pt;
}

#title p {
    font-size: 16pt;
    margin-top: 8px;
}

#title button {
    width: 192px;
    height: 56px;
    background-color: rgb(36, 180, 224);
    border: none;
    border-radius: 4px;
    margin-top: 24px;
    font-size: 14pt;
    color: white;
}

#title button:hover {
    background-color: rgb(44, 188, 232);
    cursor: pointer;
}

#blocks {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}

#blocks > div {
    /* box-shadow: ; */
    /* width: 20%; */
    flex-grow: 1;
    /* height: 36vh; */
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.05);
    margin: 0px 24px;
    background-color: white;
    transition: 0.5s;
    box-sizing: border-box;
    padding: 48px 32px;
    border-radius: 8px;
}

#blocks > div:hover {
    transform: scale(1.1);
}

#blocks > div > img {
    height: 32px;
}