html {
    scroll-behavior: smooth;
}

div {
    animation: fade-in 1s normal;
}

@keyframes fade-in {
    0% {
        /* transform: scale(0.5); */
        opacity: 0;
    }

    100% {
        opacity: 1;
        /* transform: scale(1); */
    }
}

body {
    margin: 0;
    /* width: 90%; */
    /* margin: auto; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#content {
    width: 100%;
    margin: auto;
}

nav {
    height: 72px;
    display: flex;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    background-color: white;
    /* color: rgb(112, 255, 255); */
    color: #16507b;
}

nav > div {
    margin: auto;
    width: 80%;
    align-items: center;
    display: flex;
}

nav p {
    font-size: 24pt;
    margin: 0;
    /* text-decoration: none; */
}

nav a {
    margin-right: 32px;
    text-decoration: none;
    color: #16507b;
}

nav a:hover {
    color: #2487ce;
}

nav button {
    width: 128px;
    height: 40px;
    background-color: #2487ce;
    border: none;
    border-radius: 4px;
    font-size: 12pt;
    color: white;
    transition: all 0.3s ease-in-out;
}

nav button:hover {
    background-color: #2690db;
    cursor: pointer;
}

nav select {
    border: none;
    margin-right: 16px;
    background-color: white;
    font-size: 12pt;
}

.filler {
    flex-grow: 1;
}

#home {
    background: linear-gradient(rgba(255, 255, 2555, .8), rgba(255, 255, 2555, .8)), url(images/hero-bg.jpg);
    /* overflow: hidden; */
    padding: 0;
    color: #124265;
    min-height: 100vh;
}

section {
    /* min-height: 100vh; */
    padding: 80px 0;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    text-align: center;
    flex-direction: column;
}

#title h1, p {
    margin: 0;
}

#title h1 {
    font-size: 52pt;
}

#title p {
    font-size: 16pt;
    margin-top: 8px;
}

#title button {
    width: 192px;
    height: 56px;
    background-color: #2487ce;
    border: none;
    border-radius: 5px;
    margin-top: 24px;
    font-size: 14pt;
    color: white;
    transition: all 0.3s ease-in-out;
}

#title button:hover {
    background-color: #2690db;
    cursor: pointer;
}

#blocks {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}

#blocks > div {
    /* box-shadow: ; */
    /* width: 20%; */
    flex-grow: 1;
    /* height: 36vh; */
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.05);
    margin: 0px 20px;
    background-color: white;
    transition: 0.5s;
    box-sizing: border-box;
    padding: 48px 32px;
    border-radius: 8px;
}

#blocks > div:hover {
    transform: scale(1.1);
}

#blocks > div > img {
    height: 32px;
}

#aboutUs {
    text-align: center;
    padding: 80px 0;
}

#aboutUs h1 {
    font-size: 20pt;
}

#aboutUs > p {
    color: gray;
    margin-bottom: 24px;
}

#aboutUsContainer {
    display: flex;
    width: 80%;
    margin: auto;
}

.aboutUsContainerBlock {
    width: 50%;
    /* height: 100px; */
    text-align: left;
    padding: 16px;
}

.aboutUsContainerBlock li {
    margin: 16px 0px;
}

.aboutUsContainerBlock button {
    width: 140px;
    height: 40px;
    background-color: white;
    border: 2px solid #2487ce;
    border-radius: 5px;
    margin-top: 24px;
    font-size: 12pt;
    color: #2487ce;
    transition: all 0.3s ease-in-out;
}

.aboutUsContainerBlock button:hover {
    background-color: #2690db;
    cursor: pointer;
    color: white;
}

#counts {
    padding: 0;
    height: 200px;
    background-color: #f8fbfe;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#counts div {
    width: 20%;
}

#counts h1 {
    font-size: 32pt;
    margin: 0;
    color: #16507b;
}

#counts p {
    color: #1f6da8;
    font-weight: bold;
    font-size: 10pt;
}

#woman {
    padding: 80px 0;
}

#woman > div {
    display: flex;
    width: 80%;
    margin: auto;
}

#woman > div > div {
    /* height: 500px; */
    width: 45%;
    padding: 0px 16px;
}

#woman img {
    width: 100%;
}

#woman h1 {
    margin: 0;
}

#woman li {
    margin: 16px 0;
}

#clients {
    padding: 0;
    height: 128px;
    background-color: #f8fbfe;
}

#clients > div {
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#clients img {
    height: 40px;
    filter: grayscale(100);
    transition: all 500ms ease-in-out;
    /* transition: filter 500ms ease-in-out; */
}

#clients img:hover {
    transform: scale(1.2);
    filter: none;
}

#testemonials {
    text-align: center;
    padding: 80px 0;
}

#testemonials h1 {
    font-size: 20pt;
}

#testemonials > p {
    color: gray;
    margin-bottom: 24px;
}

#testemonialsContainer {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.testemonialsContainerBlock {
    width: 30%;
    /*height: 100px;*/
    text-align: center;
    /*background-color: #124265;*/
    padding: 24px;
    box-sizing: border-box;
}

.testemonialsContainerBlock p {
    background-color: #f3f9fd;
    padding: 24px;
    margin-bottom: 24px;
}

.testemonialsContainerBlock h3 {
    margin: 0;
}

.testemonialsContainerBlock h4 {
    color: gray;
    margin: 0;
}

.testemonialsContainerBlock img {
    margin-top: 24px;
    width: 90px;
    margin: auto;
    border-radius: 50%;
}

#services {
    background-color: #f8fbfe;
    text-align: center;
    padding: 80px 0;
}

#servicesContainer {
    width: 80%;
    margin: auto;
}

#servicesContainer > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicesBlock {
    /*display: flex;
    justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
    width: 30%;
    margin: 1%;
    /*height: 35vh;*/
    box-sizing: border-box;
    padding: 72px 16px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.servicesBlock img {
    width: 36px;
    margin: auto;
}

#servicesContainer > p {
    color: gray;
    margin-bottom: 32px;
}

#callToAction {
    text-align: center;
    font-size: 16pt;
    background-color: #2487ce;
    color: white;
    padding: 60px 0;
}

#callToAction > div{
    width: 80%;
    margin: auto;
}

#callToAction button {
    width: 192px;
    height: 48px;
    background-color: #2487ce;
    border: 3px solid white;
    border-radius: 5px;
    margin-top: 24px;
    font-size: 14pt;
    color: white;
    transition: all 0.3s ease-in-out;
}

#callToAction button:hover {
    background-color: white;
    cursor: pointer;
    color: #2690db;
}

#portfolio {
    background-color: #f8fbfe;
    text-align: center;
}

#portfolio > div {
    width: 80%;
    margin: auto;
}

#portfolioBlockContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolioBlock{
    background-color: white;
    width: 22%;
    margin: 1%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    padding-bottom: 24px;
    box-sizing: border-box;
}

.portfolioBlock h3 {
    color: #124265;
}

.portfolioBlock p {
    color: gray;
    font-size: 10pt;
}

.portfolioBlock img{
    width: 100%;
}