#gridContainer {
    display: grid;
    /* grid-template-columns: auto auto; */
    /* grid-template-columns: auto; */
    /* grid-template-columns: 200px auto; */
    gap: 10px;
    /* grid-template-rows: 200px 100px; */
    /* grid-template: "a b" auto
                   "a a a" 50%
                   "c c d" auto; */
    /* grid-template-columns: 200px 400px;
    grid-template-rows: 400px 200px; */
    grid-template-rows: 100px 600px 200px;
    grid-template-columns: auto auto auto;
}

.item {
    background-color: blueviolet;
    padding: 10px;
    /* height: 100px; */
}