#parent {
    height: 600px;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.children {
    width: 40%;
    height: 200px;
    margin: 20px;
    background-color: aqua;
}