body {
    margin: 0;
}

#container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.blockContainer {
    height: 25vh;
    width: 90%;
    /* background-color: aqua; */
    margin: 10px;
    display: flex;
}

.smallBlock {
    width: 30%;
}

.bigBlock {
    flex-grow: 1;
}

@media screen and (max-width: 1000px){
    .blockContainer {
        height: auto;
        flex-direction: column;
        margin: 50px;
    }
}